body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 400px;
}

.slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide-image {
    width: 600px;
    height: 400px;
}

.carousel-nav {
    text-align: center;
}

.nav-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.nav-dot.active {
    background-color: #f00; /* Change the active dot color */
}